# **adding libraries to work and analyze**

In [1]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **read data set with pandas and showing**
read_file_by_extension function it recognizes file passive (csv)or(xlsx)

In [2]:
#retail_df = pd.read_excel('/content/drive/MyDrive/online_retail/dataset/online_retail.xlsx')
# retail_df = pd.read_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
import re

def read_file_by_extension(filepath):
  #recognizing with regex
    if re.search(r'\.csv$', filepath, re.IGNORECASE):
        return pd.read_csv(filepath)
    elif re.search(r'\.xlsx?$', filepath, re.IGNORECASE):
        df = pd.read_excel(filepath)
        # after reading convert to csv
        df = df.to_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
        return df

    else:
        raise ValueError("Unsupported file type. Only .csv and .xlsx files are supported.")

retail_df = read_file_by_extension('.\dataset\online_retail.csv')
retail_df.head()
retail_df.sample(5)

<>:18: SyntaxWarning: invalid escape sequence '\d'
<>:18: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Heram\AppData\Local\Temp\ipykernel_11040\1565891135.py:18: SyntaxWarning: invalid escape sequence '\d'
  retail_df = read_file_by_extension('.\dataset\online_retail.csv')

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
78404,78404,542870,22379,RECYCLING BAG RETROSPOT,5,2011-02-01 12:29:00,2.10,15203.0,United Kingdom
496023,496023,578344,21865,PINK UNION JACK PASSPORT COVER,1,2011-11-24 09:21:00,4.13,NaN,United Kingdom
335745,335745,566291,22921,HERB MARKER CHIVES,5,2011-09-11 15:31:00,0.65,12965.0,United Kingdom
176501,176501,552000,46776A,WOVEN BUBBLE GUM CUSHION COVER,3,2011-05-05 15:56:00,4.13,NaN,United Kingdom
456465,456465,575692,22970,LONDON BUS COFFEE MUG,3,2011-11-10 16:27:00,2.55,12508.0,France

# **convert to csv file and show**

In [3]:
#retail_df = retail_df.to_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
#retail_df = pd.read_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
# retail_df.head()

# **some information of dataframe**

In [4]:
retail_df.info()
print("\n\ndescribe : \n",retail_df.describe())

#another way for showing size of each columns
for i in retail_df.columns:
  print(f"size of column {i} :{retail_df[i].size}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  object
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB


describe :
           Unnamed: 0       Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  541909.000000  406829.000000
mean   270954.000000       9.552250       4.611114   15287.690570
std    156435.797851     218.081158      96.759853    1713.600303
min         0.000000  -80995.000000  -11062.060000   12346.000000
25%    135477.000000       1.000000       1.250000   13953.000000
50%    270954.000000       3.000000       2.080000   15152.000000
75%    406431.000000      10.000000       4.130000   16791.000000
max    541908.000000   80995.000000   38970.000000   18287.000000
size of column Unnamed: 0 :541909
size of column InvoiceNo :541909
size of column StockCode :541909
size of column Description :541909
size of column Quantity :541909
size of column InvoiceDate :541909
size of column UnitPrice :541909
size of column CustomerID :541909
size of column Country :541909

# **shape and dimension**

In [5]:
print("shape: ",retail_df.shape)
print("dimension: ",retail_df.ndim)

shape:  (541909, 9)
dimension:  2

# **start** and end index

In [6]:
retail_df.index

RangeIndex(start=0, stop=541909, step=1)

# **number of null datas (nan data)**

In [7]:
#retail_df.isnull()
retail_df.isna()
#retail_df.isna().sum()
retail_df.isnull().sum()

Unnamed: 0          0
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# **define columns and their type**

In [8]:
type(retail_df)
Columns = retail_df.columns
print(f"df columns is : {Columns}\n\n")

print ("method dtypes \n",retail_df.dtypes,"\n\n")

#a way for define columns type
print("another way  \n")
for i in Columns:
  print(f"type columns { {i} } is : {retail_df[i].apply(type).value_counts()}")

df columns is : Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'Description', 'Quantity',
       'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')


method dtypes
 Unnamed: 0       int64
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object


another way

type columns {'Unnamed: 0'} is : Unnamed: 0
<class 'int'>    541909
Name: count, dtype: int64
type columns {'InvoiceNo'} is : InvoiceNo
<class 'str'>    541909
Name: count, dtype: int64
type columns {'StockCode'} is : StockCode
<class 'str'>    541909
Name: count, dtype: int64
type columns {'Description'} is : Description
<class 'str'>      540455
<class 'float'>      1454
Name: count, dtype: int64
type columns {'Quantity'} is : Quantity
<class 'int'>    541909
Name: count, dtype: int64
type columns {'InvoiceDate'} is : InvoiceDate
<class 'str'>    541909
Name: count, dtype: int64
type columns {'UnitPrice'} is : UnitPrice
<class 'float'>    541909
Name: count, dtype: int64
type columns {'CustomerID'} is : CustomerID
<class 'float'>    541909
Name: count, dtype: int64
type columns {'Country'} is : Country
<class 'str'>    541909
Name: count, dtype: int64

# **convert pandas dataframe to numpy**

In [9]:
arr = retail_df.to_numpy()
print(arr,"\n")

print("type:",arr.dtype)

[[0 '536365' '85123A' ... 2.55 17850.0 'United Kingdom']
 [1 '536365' '71053' ... 3.39 17850.0 'United Kingdom']
 [2 '536365' '84406B' ... 2.75 17850.0 'United Kingdom']
 ...
 [541906 '581587' '23254' ... 4.15 12680.0 'France']
 [541907 '581587' '23255' ... 4.15 12680.0 'France']
 [541908 '581587' '22138' ... 4.95 12680.0 'France']]

type: object

In [10]:
retail_df.size

4877181

# **ratio of nan data to total data**
we have 2 nullable columns (CustomerID) and (Description)

In [11]:
#computing the ratio
#delete null data for customerid because is more important
print("first size = ",retail_df.size)
ratio = ((retail_df['CustomerID'].isna().sum()) / (retail_df.size)) * 100
print("ratio = ", ratio)
if ratio <= 3 :
  #ratio was less than 3% delete null data because not import and not effective
  retail_df.dropna(subset=["CustomerID"] ,inplace=True)
  print("drop is done")
else:
  #ratio was greater than 3% fill nul data with a spesifict number all of them
  retail_df.fillna((retail_df.size + 1),inplace=True )
  print("filling is done")

print("second size = ",retail_df.size)

first size =  4877181
ratio =  2.7696327038098443
drop is done
second size =  3661461

# **check number of null data**

In [12]:
retail_df.isna().sum()

Unnamed: 0     0
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# **convert type column CustomerID to int64 and InvoiceDate column to real date type and invoiceno to str**

In [13]:
retail_df['CustomerID'] = retail_df['CustomerID'].astype('Int64')

retail_df['InvoiceDate'] = pd.to_datetime(retail_df['InvoiceDate'],errors='coerce')

retail_df["InvoiceNo"] = retail_df["InvoiceNo"].astype(str)

print(retail_df['CustomerID'])

0         17850
1         17850
2         17850
3         17850
4         17850
          ...
541904    12680
541905    12680
541906    12680
541907    12680
541908    12680
Name: CustomerID, Length: 406829, dtype: Int64

# **reset number of indexes**

In [14]:
print("first index list = ", retail_df.index)
retail_df.reset_index(drop=True, inplace=True)
print("\n\nsecond index list = ", retail_df.index)

first index list =  Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       541899, 541900, 541901, 541902, 541903, 541904, 541905, 541906, 541907,
       541908],
      dtype='int64', length=406829)


second index list =  RangeIndex(start=0, stop=406829, step=1)

# **show duplicate rows**

In [15]:
retail_df.duplicated()
retail_df.duplicated().sum()

np.int64(0)

# **delete unname:0 columns because is not usefull**

In [16]:
retail_df.drop(columns=["Unnamed: 0"], inplace=True)
#or we can change it to a index
#retail_df = retail_df.index

# **checking wrong type**
validating type

In [17]:
#check column Quantity type (sum of them)
#retail_df[~retail_df['Quantity'].apply(lambda x: isinstance(x, (int)))].sum
print("invalid data type for columns Quantity =",(~retail_df['Quantity'].apply(lambda x: isinstance(x, (int)))).sum())

#show indexes the rows of quantity column that wrong type
#retail_df.loc[~retail_df['Quantity'].apply(lambda x: isinstance(x, (int))), 'Quantity']


#check column Country type (sum of them)
print("invalid data type for columns Country =",(~retail_df["Country"].apply(lambda x: isinstance(x, (str)))).sum())

#check column CustomerID type (sum of them)
print("invalid data type for columns CustomerID =",(~retail_df['CustomerID'].apply(lambda x: isinstance(x, (int)))).sum()
      )
#check column Description type (sum of them)
print("invalid data type for columns Description =",(~retail_df['Description'].apply(lambda x: isinstance(x, (str)))).sum())

#check column InvoiceDate type (sum of them)
print("invalid data type for columns InvoiceDate =",retail_df[retail_df['InvoiceDate'].isnull()])

#check column InvoiceNo type (sum of them)
print("invalid data type for columns InvoiceNo =",(~retail_df['InvoiceNo'].apply(lambda x: isinstance(x, (str)))).sum())

#check column StockCode type (sum of them)
print("invalid data type for columns StockCode =",(~retail_df['StockCode'].apply(lambda x: isinstance(x, (str)))).sum())

#check column UnitPrice type (sum of them)
print("invalid data type for columns UnitPrice =",(~retail_df['UnitPrice'].apply(lambda x: isinstance(x, (float , int)))).sum())

invalid data type for columns Quantity = 0
invalid data type for columns Country = 0
invalid data type for columns CustomerID = 0
invalid data type for columns Description = 0
invalid data type for columns InvoiceDate = Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []
invalid data type for columns InvoiceNo = 0
invalid data type for columns StockCode = 0
invalid data type for columns UnitPrice = 0

# **checking Valid range of values**

In [33]:
#quantity Columns
print("total quantity column size =",retail_df['Quantity'].size,"\n number of invalid range =",invalid_Quantity_rows := retail_df["Quantity"].where(lambda x: (x > 0) & (x < 1000)))
print("\n\n")

#CustomerID Columns
print("total CustomerID column size =",retail_df['CustomerID'].size,"\n number of invalid range =",invalid_CustomerID_rows :=(~retail_df["CustomerID"].between(10000, 20000)).sum())
print("\n\n")

#UnitPrice Columns
print("Total UnitPrice column size =", retail_df['UnitPrice'].size ,"\n number of invalid range =" , invalid_unitprice_rows := retail_df["UnitPrice"].where(lambda x: x <= 0.0).count(),"\n")
#show index of invalid values
print("UnitPrice invalid values =",retail_df.loc[retail_df["UnitPrice"] <= 0.0].index) 
#deleting invalid values
retail_df.drop(retail_df[retail_df["UnitPrice"] <= 0.0].index,inplace=True)
print("\n\n")

#InvoceDate Columns
print("total InvoiceDate column size =",retail_df['InvoiceDate'].size,"\n number of invalid range =",retail_df['InvoiceDate'].where((retail_df['InvoiceDate'] < '2009-01-01') | (retail_df['InvoiceDate'] > '2020-01-01') ))

total quantity column size = 406829
 number of invalid range = 0          6.0
1          6.0
2          8.0
3          6.0
4          6.0
          ...
406824    12.0
406825     6.0
406826     4.0
406827     4.0
406828     3.0
Name: Quantity, Length: 406829, dtype: float64



total CustomerID column size = 406829
 number of invalid range = 0



Total UnitPrice column size = 406829
 number of invalid range = 40

UnitPrice invalid values = Index([  7012,  23071,  26046,  29881,  29883,  35460,  55279,  87903,  95201,
        99945, 109968, 131865, 140517, 199499, 202073, 204627, 214132, 229359,
       229360, 229361, 229362, 262429, 265590, 280386, 293578, 314491, 327463,
       327630, 327992, 329894, 336106, 336738, 336739, 342114, 342115, 360854,
       361225, 362308, 366848, 378894],
      dtype='int64')



total InvoiceDate column size = 406789
 number of invalid range = 0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
406824   NaT
406825   NaT
406826   NaT
406827   NaT
406828   NaT
Name: InvoiceDate, Length: 406789, dtype: datetime64[ns]