# **adding libraries to work and analyze**

In [2]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **read data set with pandas and showing**
read_file_by_extension function it recognizes file passive (csv)or(xlsx)

In [4]:
#retail_df = pd.read_excel('/content/drive/MyDrive/online_retail/dataset/online_retail.xlsx')
# retail_df = pd.read_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
import re

def read_file_by_extension(filepath):
  #recognizing with regex
    if re.search(r'\.csv$', filepath, re.IGNORECASE):
        return pd.read_csv(filepath)
    elif re.search(r'\.xlsx?$', filepath, re.IGNORECASE):
        df = pd.read_excel(filepath)
        # after reading convert to csv
        df = df.to_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
        return df

    else:
        raise ValueError("Unsupported file type. Only .csv and .xlsx files are supported.")

retail_df = read_file_by_extension('.\dataset\online_retail.csv')
retail_df.head()
retail_df.sample(5)

<>:18: SyntaxWarning: invalid escape sequence '\d'
<>:18: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Heram\AppData\Local\Temp\ipykernel_20872\1565891135.py:18: SyntaxWarning: invalid escape sequence '\d'
  retail_df = read_file_by_extension('.\dataset\online_retail.csv')

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
437249,437249,574278,22859,EASTER TIN BUNNY BOUQUET,12,2011-11-03 14:42:00,1.65,15814.0,United Kingdom
313560,313560,564516,21935,SUKI SHOULDER BAG,1,2011-08-25 14:45:00,4.13,NaN,United Kingdom
8966,8966,537159,22114,HOT WATER BOTTLE TEA AND SYMPATHY,6,2010-12-05 13:17:00,3.95,14527.0,United Kingdom
122468,122468,546875,22383,LUNCH BAG SUKI DESIGN,10,2011-03-17 16:38:00,1.65,12514.0,Italy
173131,173131,551656,22520,CHILDS GARDEN TROWEL BLUE,12,2011-05-03 12:10:00,0.85,14911.0,EIRE

# **convert to csv file and show**

In [5]:
#retail_df = retail_df.to_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
#retail_df = pd.read_csv('/content/drive/MyDrive/online_retail/dataset/online_retail.csv')
# retail_df.head()

# **some information of dataframe**

In [6]:
retail_df.info()
print("\n\ndescribe : \n",retail_df.describe())

#another way for showing size of each columns
for i in retail_df.columns:
  print(f"size of column {i} :{retail_df[i].size}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  object
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB


describe :
           Unnamed: 0       Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  541909.000000  406829.000000
mean   270954.000000       9.552250       4.611114   15287.690570
std    156435.797851     218.081158      96.759853    1713.600303
min         0.000000  -80995.000000  -11062.060000   12346.000000
25%    135477.000000       1.000000       1.250000   13953.000000
50%    270954.000000       3.000000       2.080000   15152.000000
75%    406431.000000      10.000000       4.130000   16791.000000
max    541908.000000   80995.000000   38970.000000   18287.000000
size of column Unnamed: 0 :541909
size of column InvoiceNo :541909
size of column StockCode :541909
size of column Description :541909
size of column Quantity :541909
size of column InvoiceDate :541909
size of column UnitPrice :541909
size of column CustomerID :541909
size of column Country :541909

# **shape and dimension**

In [8]:
print("shape: ",retail_df.shape)
print("dimension: ",retail_df.ndim)

shape:  (541909, 9)
dimension:  2

# **start** and end index

In [9]:
retail_df.index

RangeIndex(start=0, stop=541909, step=1)

# **number of null datas (nan data)**

In [10]:
#retail_df.isnull()
retail_df.isna()
#retail_df.isna().sum()
retail_df.isnull().sum()

Unnamed: 0          0
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# **define columns and their type**

In [11]:
type(retail_df)
Columns = retail_df.columns
print(f"df columns is : {Columns}\n\n")

print ("method dtypes \n",retail_df.dtypes,"\n\n")

#a way for define columns type
print("another way  \n")
for i in Columns:
  print(f"type columns { {i} } is : {retail_df[i].apply(type).value_counts()}")

df columns is : Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'Description', 'Quantity',
       'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')


method dtypes
 Unnamed: 0       int64
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object


another way

type columns {'Unnamed: 0'} is : Unnamed: 0
<class 'int'>    541909
Name: count, dtype: int64
type columns {'InvoiceNo'} is : InvoiceNo
<class 'str'>    541909
Name: count, dtype: int64
type columns {'StockCode'} is : StockCode
<class 'str'>    541909
Name: count, dtype: int64
type columns {'Description'} is : Description
<class 'str'>      540455
<class 'float'>      1454
Name: count, dtype: int64
type columns {'Quantity'} is : Quantity
<class 'int'>    541909
Name: count, dtype: int64
type columns {'InvoiceDate'} is : InvoiceDate
<class 'str'>    541909
Name: count, dtype: int64
type columns {'UnitPrice'} is : UnitPrice
<class 'float'>    541909
Name: count, dtype: int64
type columns {'CustomerID'} is : CustomerID
<class 'float'>    541909
Name: count, dtype: int64
type columns {'Country'} is : Country
<class 'str'>    541909
Name: count, dtype: int64

# **convert pandas dataframe to numpy**

In [12]:
arr = retail_df.to_numpy()
print(arr,"\n")

print("type:",arr.dtype)

[[0 '536365' '85123A' ... 2.55 17850.0 'United Kingdom']
 [1 '536365' '71053' ... 3.39 17850.0 'United Kingdom']
 [2 '536365' '84406B' ... 2.75 17850.0 'United Kingdom']
 ...
 [541906 '581587' '23254' ... 4.15 12680.0 'France']
 [541907 '581587' '23255' ... 4.15 12680.0 'France']
 [541908 '581587' '22138' ... 4.95 12680.0 'France']]

type: object

In [13]:
retail_df.size

4877181

# ratio of nan data to total **data**
we have 2 nullable columns (CustomerID) and (Description)

In [15]:
#computing the ratio
#delete null data for customerid because is more important
print("first size = ",retail_df.size)
ratio = ((retail_df['CustomerID'].isna().sum()) / (retail_df.size)) * 100
print("ratio = ", ratio)
if ratio <= 3 :
  #ratio was less than 3% delete null data because not import and not effective
  retail_df.dropna(subset=["CustomerID"] ,inplace=True)
  print("drop is done")
else:
  #ratio was greater than 3% fill nul data with a spesifict number all of them
  retail_df.fillna((retail_df.size + 1),inplace=True )
  print("filling is done")

print("second size = ",retail_df.size)

first size =  4877181
ratio =  2.7696327038098443
drop is done
second size =  3661461

# **check number of null data**

In [16]:
retail_df.isna().sum()

Unnamed: 0     0
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# **convert type column CustomerID to int64 and InvoiceDate column to real date type**

In [17]:
retail_df['CustomerID'] = retail_df['CustomerID'].astype('Int64')

retail_df['InvoiceDate'] = pd.to_datetime(retail_df['InvoiceDate'])

print(retail_df['CustomerID'])

0         17850
1         17850
2         17850
3         17850
4         17850
          ...
541904    12680
541905    12680
541906    12680
541907    12680
541908    12680
Name: CustomerID, Length: 406829, dtype: Int64

# **reset number of indexes**

In [18]:
print("first index list = ", retail_df.index)
retail_df.reset_index(drop=True, inplace=True)
print("\n\nsecond index list = ", retail_df.index)

first index list =  Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       541899, 541900, 541901, 541902, 541903, 541904, 541905, 541906, 541907,
       541908],
      dtype='int64', length=406829)


second index list =  RangeIndex(start=0, stop=406829, step=1)

# **show duplicate rows**

In [19]:
retail_df.duplicated()
retail_df.duplicated().sum()

np.int64(0)

# **delete unname:0 columns because is not usefull**

In [20]:
retail_df.drop(columns=["Unnamed: 0"], inplace=True)
#or we can change it to a index
#retail_df = retail_df.index